//计数框修改为方角，与整体样式搭配
.el-input__inner,
.el-input-number__increase,
.el-input-number__decrease {
    border-radius: 0px;
}

.el-input__inner:focus,
.el-input__inner:hover {
    outline: 0;
    border-color: mix(#DCDFE6, #999, 60%);
}

.el-input-number__decrease:hover,
.el-input-number__increase:hover {
    color: #606266;
}

.el-input-number__decrease:hover:not(.is-disabled)~.el-input .el-input__inner:not(.is-disabled),
.el-input-number__increase:hover:not(.is-disabled)~.el-input .el-input__inner:not(.is-disabled) {
    border-color: mix(#DCDFE6, #555, 60%);
}

//修改按钮为方角，适应整体样式
.el-button {
    border-radius: 0;
}
//append slot
.el-input-group__append{
    border-radius: 0;
}

//修改注册/登陆页input的padding
.el-form-item .el-form-item__content .el-input .el-input__inner{
    padding:0 .8em;
    line-height: 2.7;
}